<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Купить PopIt</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="headerInner">
                <a class="logo" href="/">НЕ_ПУПЫРКА.UA</a>
                <nav>
                    <ul>
                        <li><a class="menu" href="/">ГЛАВНАЯ</a></li>
                        <li><a class="menu" href="/specialoffer">СКИДКИ</a></li>
                        <li><a class="menu" href="/contacts">КОНТАКТЫ</a></li>
                    </ul>
                </nav>
            </div>    
        </div>
    </header>
    <main>
        <section class="checkoutForm">
            <div class="container">
                <div class="checkoutFormInner">
                    <h1 class="buyH1">Оформление заказа</h1>
                    <div class="line"></div>
                    <form action="#" name="newform" method="post">
                        <div class="formInputs">
                            <p class="">Имя<span class="red"> *</span></p>
                            <input type="text">
                            <p class="">Фамилия<span class="red"> *</span></p>
                            <input type="text">
                            <p class="">Телефон<span class="red"> *</span></p>
                            <input type="text">
                            <p class="">Дата доставки<span class="red"> *</span></p>
                            <input type="text">
                            <p class="">Адрес<span class="red"> *</span></p>
                            <input type="text">
                            <p class="info">*Обязательные поля</p>
                            <input class="btn" type="button" value="ОФОРМИТЬ">
                        </div>
                    </form>
                </div>  
            </div>   
        </section>
    </main>
    <footer>
        <div class="container">
            <div class="footer-inner">
                <p class="logoP">НЕ_ПУПЫРКА.РУ</p>
                <a class="aFooter" href="#">Способы оплаты</a>
                <a class="aFooter" href="#">Доставка</a>
                <a class="aFooter" href="#">Опт</a>
                <a class="aFooter" href="/contacts">Контакты</a>
            </div>
        </div>    
    </footer>
</body>
</html>