<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Купить PopIt</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="headerInner">
                <a class="logo" href="/">НЕ_ПУПЫРКА.UA</a>
                <nav>
                    <ul>
                        <li><a class="menu" href="/">ГЛАВНАЯ</a></li>
                        <li><a class="menu" href="/specialoffer">СКИДКИ</a></li>
                        <li><a class="menu" href="/contacts">КОНТАКТЫ</a></li>
                    </ul>
                </nav>
            </div>    
        </div>
    </header>
    <main>
        <section class="checkoutForm">
            <div class="container">
                <div class="checkoutFormInner">
                    <h1 class="buyH1">КОНТАКТЫ</h1>
                    <div class="line"></div>
                    <h3 class="saleH1" style="font-size:20px">{{adress}}</h3>
                    <!-- Строкой ниже следует встаить виджет yandex карт -->
                    <div style="position:relative;overflow:hidden;"><a href="https://yandex.ru/maps/213/moscow/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Москва</a><a href="https://yandex.ru/maps/213/moscow/?ll=37.619569%2C55.751384&utm_medium=mapframe&utm_source=maps&z=18" style="color:#eee;font-size:12px;position:absolute;top:14px;">Яндекс.Карты — транспорт, навигация, поиск мест</a><iframe src="https://yandex.ru/map-widget/v1/-/CCUiAHuzLA" width="560" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
                </div>  
            </div>   
        </section>
    </main>
    <footer>
        <div class="container">
            <div class="footer-inner">
                <p class="logoP">НЕ_ПУПЫРКА.РУ</p>
                <a class="aFooter" href="#">Способы оплаты</a>
                <a class="aFooter" href="#">Доставка</a>
                <a class="aFooter" href="#">Опт</a>
                <a class="aFooter" href="/contacts">Контакты</a>
            </div>
        </div>    
    </footer>
</body>
</html>