<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Купить PopIt</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="headerInner">
                <a class="logo" href="/">НЕ_ПУПЫРКА.UA</a>
                <nav>
                    <ul>
                        <li><a class="menu" href="/">ГЛАВНАЯ</a></li>
                        <li><a class="menu" href="/specialoffer">СКИДКИ</a></li>
                        <li><a class="menu" href="/contacts">КОНТАКТЫ</a></li>
                    </ul>
                </nav>
            </div>    
        </div>
    </header>
    <main>
        <section class="offer">
            <div class="container">
                <div class="offerInner">
                    <div class="grid-wrapper saleWrapper">
                        <h1 class="saleH1">РАСПРОДАЖА</h1>
                        <div class="grid">  
                            <div class="grid-item gridOffer">
                                <img class="sale" src="../static/images/sale1.png">
                                <img class="offerImg" src="../static/images/sale.png">
                                <p>Медвежонок</p>
                                <a class="buy" href="/buy">КУПИТЬ</a>
                            </div>
                            <div class="grid-item gridOffer">
                                <img class="sale" src="../static/images/sale2.png">
                                <img class="offerImg" src="../static/images/sale.png">
                                <p>Зайчонок</p>
                                <a class="buy" href="/buy">КУПИТЬ</a>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>   
        </section>
    </main>
    <footer>
        <div class="container">
            <div class="footer-inner">
                <p class="logoP">НЕ_ПУПЫРКА.РУ</p>
                <a class="aFooter" href="#">Способы оплаты</a>
                <a class="aFooter" href="#">Доставка</a>
                <a class="aFooter" href="#">Опт</a>
                <a class="aFooter" href="/contacts">Контакты</a>
            </div>
        </div>    
    </footer>
</body>
</html>